@import './colors.scss';
@import '../ImgColorFilters/style.scss';
@import './measurements.scss';

.button {
  cursor: pointer;
  user-select: none;

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
    border: 1px solid $Black;
    border-radius: $borderRadius;
    overflow: hidden;

    background: $buttonGradient;

    img {
      position: absolute;
      left: calc(#{$buttonSize / 2} - #{$buttonImageSize / 2});
      top: calc(#{$buttonSize / 2} - #{$buttonImageSize / 2});
      width: $buttonImageSize;
      height: $buttonImageSize;
      filter: imgColorFilter($accentColor);
    }
  }
  label {
    display: none;
  }

  &:hover {
    a {
      background: $buttonHoverGradient;
    }
    label {
      display: block;
      position: absolute;
      padding: 0.25em 0.5em;
      border-radius: $borderRadius;
      z-index: 100;

      background-color: $darkPanelColor;
      color: $accentColor;
      white-space: nowrap;
      border: 1px solid $Black;
      box-shadow: 0 0 0.25em $darkPanelColor;

      /* this label positioning gets overridden based on nav bar postion */
      top: calc(#{$buttonSize} + 0.5em);
      left: calc(#{$buttonSize / 2});
      transform: translate(-50%, 0);
    }
  }
  &:active {
    a {
      background: $buttonActiveGradient;
    }
  }

  &.selected {
    a {
      background: $selectedButtonGradient;
      img {
        filter: imgColorFilter($darkPanelColor);
      }
    }
    &:hover a {
      background: $selectedButtonHoverGradient;
    }
    &:active a {
      background: $selectedButtonActiveGradient;
    }
  }
}
