/*
Current color scheme

Using ColorBrewer schemes:
http://colorbrewer2.org/#type=qualitative&scheme=Dark2&n=8
http://colorbrewer2.org/#type=qualitative&scheme=Pastel2&n=8
*/

$White: #F7F7F7;
$LightestGrey: #D9D9D9;
$LightGrey: #BDBDBD;
$Grey: #969696;
$DarkGrey: #737373;
$DarkestGrey: #525252;
$Black: #252525;

$DarkTeal: #1B9E77;
$DarkOrange: #D95F02;
$DarkPurple: #7570B3;
$DarkPink: #E7298A;
$DarkGreen: #66A61E;
$DarkYellow: #E6AB02;
$DarkBrown: #A6761D;

$LightTeal: #B3E2CD;
$LightOrange: #FDCDAC;
$LightPurple: #CBD5E8;
$LightPink: #F4CAE4;
$LightGreen: #E6F5C9;
$LightYellow: #FFF2AE;
$LightBrown: #F1E2CC;

/*
Color meanings:
*/

$pageBackground: darken($DarkPurple, 45%);
$textColor: $LightPurple;
$separatorColor: $DarkGrey;

$panelColor: $DarkPurple;
$lightPanelColor: $LightPurple;
$darkPanelColor: darken($panelColor, 30%);

$accentColor: $DarkYellow;
$lightAccentColor: $LightYellow;
$darkAccentColor: darken($accentColor, 30%);

$bindingColor: $DarkTeal;
$encodingColor: $DarkOrange;
$interactionColor: $DarkPink;

/*
Gradients:
*/
$backgroundGradient: linear-gradient(-100deg, desaturate($darkPanelColor,15) 0%, desaturate($darkPanelColor,20) 23%, desaturate($pageBackground,20) 100%);

$lightGradientStops: rgba(desaturate($lightPanelColor,10),0.1) 0%,rgba(desaturate($panelColor,10),0) 40%,rgba(desaturate($darkPanelColor,10),0.1) 100%;
$lightHoverGradientStops: rgba(desaturate($lightPanelColor,10),0.5) 0%,rgba(desaturate($panelColor,10),0.25) 40%,rgba(desaturate($darkPanelColor,10),1) 100%;
$lightActiveGradientStops: rgba(desaturate($darkPanelColor,10),1) 0%,rgba(desaturate($panelColor,10),0.25) 40%,rgba(desaturate($lightPanelColor,10),0.5) 100%;
$strongGradientStops: desaturate($lightAccentColor,10) 0%, desaturate($accentColor,30) 40%, desaturate($darkAccentColor,10) 100%;
$strongHoverGradientStops: $lightAccentColor 0%, $accentColor 40%, $darkAccentColor 100%;
$strongActiveGradientStops: $darkAccentColor 0%, $accentColor 40%, $lightAccentColor 100%;

$buttonGradient: linear-gradient(to bottom, $lightGradientStops);
$buttonHoverGradient: linear-gradient(to bottom, $lightHoverGradientStops);
$buttonActiveGradient: linear-gradient(to bottom, $lightActiveGradientStops);
$selectedButtonGradient: linear-gradient(to bottom, $strongGradientStops);
$selectedButtonHoverGradient: linear-gradient(to bottom, $strongHoverGradientStops);
$selectedButtonActiveGradient: linear-gradient(to bottom, $strongActiveGradientStops);
