/*
Current color scheme

Using ColorBrewer schemes:
http://colorbrewer2.org/#type=qualitative&scheme=Dark2&n=8
http://colorbrewer2.org/#type=qualitative&scheme=Pastel2&n=8
*/

$White: #F7F7F7;
$LightestGrey: #D9D9D9;
$LightGrey: #BDBDBD;
$Grey: #969696;
$DarkGrey: #737373;
$DarkestGrey: #525252;
$Black: #252525;

$DarkTeal: #1B9E77;
$DarkOrange: #D95F02;
$DarkPurple: #7570B3;
$DarkPink: #E7298A;
$DarkGreen: #66A61E;
$DarkYellow: #E6AB02;
$DarkBrown: #A6761D;

$LightTeal: #B3E2CD;
$LightOrange: #FDCDAC;
$LightPurple: #CBD5E8;
$LightPink: #F4CAE4;
$LightGreen: #E6F5C9;
$LightYellow: #FFF2AE;
$LightBrown: #F1E2CC;

/*
Color meanings:
*/

$pageBackground: darken($DarkPurple, 45%);
$backgroundGradient: linear-gradient(-100deg, rgba(95,93,145,1) 0%,rgba(102,100,147,1) 23%,rgba(28,28,33,1) 100%);
$textColor: $LightPurple;
$separatorColor: $DarkGrey;

$panelColor: $DarkPurple;
$lightPanelColor: $LightPurple;
$darkPanelColor: darken($panelColor, 30%);

$accentColor: $DarkYellow;
$lightAccentColor: $LightYellow;
$darkAccentColor: darken($accentColor, 30%);

$bindingColor: $DarkTeal;
$encodingColor: $DarkPurple;
$interactionColor: $DarkOrange;
