@import '../style/colors.scss';
@import '../style/ui.scss';

.docView {
  overflow: auto;

  iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    background-color: white;
  }
}
