@import '../style/colors.scss';
@import '../style/measurements.scss';
@import '../style/ui.scss';

.treeView {
  .hierarchyContainer {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;

    .node {
      text {
        fill: $textColor;
      }

      & > .background {
        fill: transparent;
        rx: $borderRadius;
        ry: $borderRadius;
        stroke-width: 1px;
        stroke: transparent;
      }
    }
  }
}
